<section>

  <div class="content">

    <h2 [@fadeInTitle] >Tecnologías</h2>

    <div class="text-img">

      <div [@fadeInTitle3] class="text-p">

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque distinctio eaque eveniet aspernatur? Excepturi repellat nobis ratione qui aliquid eaque. Sapiente praesentium quis debitis consectetur, beatae ipsum excepturi dolorem.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

      </div>


      <carrusel-img [@fadeInTitle3] ></carrusel-img>
    </div>

  </div>

</section>


