<div class="layout">
    <nav-header ></nav-header>
  <div class="router" [@routeAnimations]="prepareRoute()">
    <router-outlet></router-outlet>
  </div>


</div>
<div class="nub-img svg">
  <img src="../../../assets/svg/computacion-perimetral.svg" alt="nub-img">
</div>
<div class="angular-img svg">
  <img src="../../../assets/svg/angularjs.svg" alt="nub-img">
</div>
<div class="java-img svg" >
  <img src="../../../assets/svg/java.svg" alt="nub-img">
</div>
<div class="mysql-img svg" >
  <img src="../../../assets/svg/mysql-_1_.svg" alt="nub-img">
</div>




