<header class="layout">
  <div class="content">
    <h2 [@fadeInTitle]="'in'">Sobre Mí</h2>

    <div class="img-text">
      <div [@rotateImage]="'in'" class="img-perfil">
        <img  src="../../../../assets/images/perfil.jpg" alt="perfil-img" />
      </div>

      <section [@fadeInTitle]="'in'">
        <h4>Hola, soy Leandro Gonzalez</h4>
        <div class="text-p">

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, aliquid error! Accusamus animi nobis est consequuntur eos, non recusandae consequatur! Corporis, fugit? Corporis eum distinctio ducimus commodi, incidunt quis esse?
            <!-- Soy un programador autodidacta apasionado por la programación, los
            videojuegos, animes y mangas, me considero una persona muy proactiva,
            comprometida y muy capaz de realizar o solucionar cualquier cosa que
            se me proponga. -->
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam dolore magnam a distinctio rem quis, magni deserunt aperiam pariatur quaerat explicabo reiciendis assumenda qui blanditiis veniam libero quidem odio voluptates!
            <!-- Desde noviembre del 2023 me propuse a estudiar de forma autodidacta y
            desde ese entonces todos los días le dedico entre 6 u 8hs de estudio
            cada dia de lunes a sábado.
            <span class="frase">
              Soy un fiel creyente de que para lograr algo grande, no solo se
              necesita talento si nó que también dedicación y disciplina.
            </span> -->
          </p>

        </div>
      </section>
    </div>
  </div>

  <!-- <div class="content">
    <h2>Educación</h2>

    <div class="img-text">
      <div class="img-perfil">
        <img src="../../../../assets/images/besito.jpg" alt="perfil-img" />
      </div>

      <section>
        <h4>Hola, soy Leandro Gonzalez</h4>
        <p>
          Soy un programador autodidacta apasionado por la programación, los
          videojuegos, animes y mangas, me considero una persona muy proactiva,
          comprometida y muy capaz de realizar o solucionar cualquier cosa que
          se me proponga.
        </p>
        <p>
          Desde noviembre del 2023 me propuse a estudiar de forma autodidacta y
          desde ese entonces todos los días le dedico entre 6 u 8hs de estudio
          cada dia de lunes a sábado.
          <span class="frase">
            Soy un fiel creyente de que para lograr algo grande, no solo se
            necesita talento si nó que también dedicación y disciplina.
          </span>
        </p>
      </section>
    </div>
  </div> -->
</header>
