<!-- navbar.component.html -->
<nav>
  <ul class="">
    <li routerLink="/home" routerLinkActive="active" class="">
      <span  class="material-symbols-outlined icons">home</span>
      <span>Home</span>
    </li>

    <li class="">
      <span class="material-symbols-outlined icons">person</span>
      <span>Sobre mi</span>
    </li>

    <li class="">
      <span class="material-symbols-outlined icons"> deployed_code </span>
      <span>Proyectos</span>
    </li>

    <li class="">
      <span class="material-symbols-outlined icons"> terminal </span>
      <span>Tecnologías</span>
    </li>

    <li class="">
      <span class="material-symbols-outlined icons"> prompt_suggestion </span>
      <span>Contacto</span>
    </li>
  </ul>
</nav>
