<!-- navbar.component.html -->
<nav>
  <ul class="">
    <li routerLink="home" routerLinkActive="active" class="">
      <span  class="material-symbols-outlined icons">home</span>
      <span class="text-nav">Home</span>
    </li>

    <li class="" routerLink="about-me" routerLinkActive="active">
      <span class="material-symbols-outlined icons">person</span>
      <span class="text-nav">Sobre mi</span>
    </li>

    <li routerLink="proyectos" routerLinkActive="active" class="">
      <span class="material-symbols-outlined icons"> deployed_code </span>
      <span class="text-nav">Proyectos</span>
    </li>

    <li class="" routerLink="tecnologías" routerLinkActive="active">
      <span class="material-symbols-outlined icons"> terminal </span>
      <span class="text-nav">Tecnologías</span>
    </li>

    <li class="">
      <span class="material-symbols-outlined icons"> prompt_suggestion </span>
      <span class="text-nav">Contacto</span>
    </li>
  </ul>
</nav>
