/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Poppins", sans-serif;
  @apply bg-shark-950 text-dune-100
}

h1{
  @apply text-8xl font-extrabold
}
h3{
  @apply text-2xl font-semibold
}
h2{
  @apply text-5xl font-bold
}

html{
  overflow-x: hidden;
}

p{
  @apply font-light text-xl
}

body::-webkit-scrollbar{
  width: 10px;
}

body::-webkit-scrollbar-thumb{
  @apply bg-shark-100 rounded-lg
}

body::-webkit-scrollbar-thumb:hover{
  @apply bg-shark-200
}
/* 
body,
html{
  margin: 0;
  padding: 0;
  scrollbar-gutter:stable both-edges;
} */
.line{
  @apply border w-[80vw] flex mx-auto md:w-[90%]
}
